/*
** Color
*/

$Global-White: #fff;
$Global-Black: #000;
$Dark-Gray800: #202b3e;
$Dark-Gray600: #20212b;
$Dark-Gray500: #32333d;
$Dark-Gray300: #5b5c6c;
$Dark-Gray200: #2b303b;
$Dark-Primary500: #168fff;
$Light-Gray800: #202b3e;
$Light-Gray600: #49576c;
$Light-Gray400: #97a6ba;
$Light-Gray300: #ced8e3;
$Light-Gray200: #e5ebf2;
$Light-Gray100: #f3f4f6;
$Light-Red500: #ef4949;
$Light-Primary500: #0084ff;

$box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.3), 0px 3px 5px rgba(9, 30, 66, 0.2);
