@import "./index.scss";

/*
** Color
*/

$Global-Font: "Spoqa Han Sans Neo";
$Global-White: #fff;
$Dark-Gray800: #202b3e;
$Dark-Gray600: #20212b;
$Dark-Gray500: #32333d;
$Dark-Gray300: #5b5c6c;
$Light-Gray800: #202b3e;
$Light-Gray600: #49576c;
$Light-Gray400: #97a6ba;
$Light-Gray300: #ced8e3;
$Light-Gray100: #f3f4f6;
$Light-Primary500: #0084ff;

$box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.3), 0px 3px 5px rgba(9, 30, 66, 0.2);

/*
** Layout
*/

.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $Light-Gray100;
}
.subjectTitle {
  color: $Light-Gray800;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/*
** Header
*/
header {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: $Dark-Gray600;
  border-bottom: 1px solid $Dark-Gray300;

  .innerSection {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  // Logo
  h1 {
    margin: 0;
    display: inline-block;

    a {
      display: flex;
      align-items: center;
      gap: 0 8px;
      color: $Global-White;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }

    i {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }

  // Avatar
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: $Global-White;
    font-size: 10px;
    font-style: normal;
    line-height: 10px;
    background: $Dark-Gray500;
    border: 1px solid $Global-White;
    border-radius: 12px;
    cursor: pointer;
  }
}

/*
** Footer
*/

footer {
  margin: 0 40px;
  border-top: 1px solid $Light-Gray300;
  background-color: transparent;
  height: 90px;

  .innerSection {
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  p {
    color: $Light-Gray600;
    font-size: 12px;
    font-weight: 400;
  }
}

// Form
.el-form {
  .el-form-item {
    margin-bottom: 24px;

    .el-form-item__label {
      padding: 0 20px 0 0;
      color: $Light-Gray600;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Input
.commonInput {
  color: $Light-Gray600;
  font-size: 16px;
  font-weight: 400;

  .el-input__inner {
    border: 1px solid $Light-Gray300;
    padding: 0 20px;

    &::placeholder {
      color: $Light-Gray400;
    }
  }
}

// Select
.commonSelect {
  .el-input {
    color: $Light-Gray600;
    font-size: 16px;
    font-weight: 400;

    .el-input__inner {
      border: 1px solid $Light-Gray300;
      padding: 0 40px 0 20px;

      &::placeholder {
        color: inherit;
      }
    }
    &.is-focus .el-input__inner {
      border-color: $Light-Gray300;
    }

    .el-input__suffix {
      right: 20px;

      .el-select__caret {
        color: $Light-Gray600;
        font-size: 24px;
      }
    }
  }
}
// Select Dropdown List
.el-select-dropdown {
  box-shadow: $box-shadow;

  .el-select-dropdown__list {
    padding: 8px 0;

    .el-select-dropdown__item {
      padding: 0 8px;
      height: 32px;
      color: $Light-Gray600;
      font-size: 14px;
      line-height: 32px;

      &.hover,
      &:hover {
        background-color: $Light-Gray100;
      }
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 4px;
  }

  .popper__arrow {
    display: none;
  }
}

// Button
.commonButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;

  // Icon
  [class^="el-icon-"] {
    font-size: 20px;
  }
  & [class*="el-icon-"] + span {
    margin-left: 10px;
  }

  // Primary
  &.el-button--primary {
    color: $Global-White;
    background-color: $Light-Primary500;
    border-color: $Light-Primary500;
  }
}
